Flask==2.0.1
flask-apispec==0.11.0
Flask-Migrate==3.0.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
marshmallow==3.12.1
marshmallow-enum==1.5.1
passlib==1.7.4
SQLAlchemy==1.4.20
webargs==8.0.0
Werkzeug==2.0.1
mysqlclient==2.0.3
